# Virtual environment
.venv/

# Python caches
__pycache__/
*.pyc

# Firebase service account (keep this out of source control)
serviceAccountKey.json
qrpenguin-61677-firebase-adminsdk-fbsvc.json

# Local files
requirements-lock.txt
# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environment
.env
.venv/
venv/
ENV/

# Database
*.sqlite3
site.db

# Flask cache & logs
instance/
*.log

# Static build files
static/qr/*.png
static/qr/qr_json/*.json

# System
.DS_Store
Thumbs.db

__pycache__/
*.pyc
uploads/
static/qr/
*.json
.env
migrations/backups/
.vscode/
.idea/